body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
}

h1, h1 {
    text-align: center; /* Center the text horizontally */
    margin-top: 20px; /* Adjust top margin as needed */
    margin-bottom: 20px; /* Adjust bottom margin as needed */
}

h2 {
    margin-bottom: 20px;
}

#customer-name,
#product-search {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.dropdown {
    position: absolute;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    z-index: 1000;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.order-summary {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 10px;
    max-height: 200px;
    overflow-y: auto;
}

.total-cost,
.total-sp {
    font-weight: bold;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}
